.d1 {
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    margin: 50px;
    border-radius: 17px;
}
.d2 {
    position: absolute;
    width: 178px;
    height: 48px;
    border: 0px solid;
    background: #cecece;
    margin: 1px;
    border-radius: 15px;
}
.d3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 164px;
    height: 34px;
    border: 0px solid gray;
    background: linear-gradient(to top, #949494, #fff);
    border-radius: 8px;
    top: -1px;
    left: -1px;
}
.shadow {
    width: 164px;
    height: 34px;
    margin: 7px;
    background-color: #757575;
    border-radius: 8px;
   
}
.text {
    color: #565656;
    font-weight: bold;
    font-family: Arial;

}
.star {
    position: relative;
    color: #888888;
    font-size: 26px;
    top: -2px;
}