img {
    width: 600px;
    height: 600px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
     margin: 30px auto;
    animation: mask 3s linear infinite;
}
  
@keyframes mask {
    33% {
        clip-path: circle(50% at 50% 50%);
    } 
    66% {
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    }
}